*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#game-container{
  width: 700px;
  height: 500px;
  border: 1px solid black;
  position: absolute;
}

#sky{
  width: 700px;
  height: 400px;
  background-color: #70c5d1;
  position: absolute;
}

#ground{
  width: 700px;
  height: 100px;
  background: url(images/bottom-background.png);
  position: absolute;
  bottom: 0px;
}

#bird{
  background: yellow;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 300px;
  bottom: 100px;
}

.obstacle{
  width: 60px;
  height: 200px;
  background: url(images/flappybird-pipe.png);
  position: absolute;
  left: 700px;
  bottom: 100px;
}

.topobstacle{
  width: 60px;
  height: 200px;
  background: url(images/flappybird-pipe.png);
  position: absolute;
  left: 700px;
  transform: rotate(180deg);
}

#score{
  position: absolute;
  background-color: black;
  font-size: 24px;
  color: white;
  z-index: 2;
}
